<!DOCTYPE html>
<html lang="en">

<head>
  <%- include ('../partials/head') %>
  <title>🕊 Home</title>
</head>

<body>
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper blue darken-3">
        <a href="" class="brand-logo left">🕊 Home</a>
        <ul class="right">
          <li style="padding-top: 3%;"><a href="/users" class="material-icons">person</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <main class="container">
    <ul class="collection">
      <li class="collection-item avatar">
        <img src="" alt="" class="circle">
        <span class="title">Title</span>
        <p>First Line <br>
          Second Line
        </p>
      </li>
    </ul>
  </main>

</body>

</html>
</body>

</html>