
<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head') %>
    <title>🕊 Home</title>
</head>
<body>
    <div class="navbar-fixed">
        <nav>
          <div class="nav-wrapper blue darken-3">
            <a href="" class="brand-logo left">🕊 Home</a>
            <ul class="right">
                <li><i class="material-icons">perm_identity</i></li>
            </ul>
          </div>
        </nav>
      </div>
      <header class="container">
        <h2>Welcome</h2>
      </header>
</body>
</html>