
<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head') %>
    <title>🕊 User</title>
</head>
<body>
    <div class="navbar-fixed">
        <nav>
          <div class="nav-wrapper blue darken-3">
            <a href="" class="brand-logo left">🕊 User</a>
            <ul class="right">
                <li style="padding-top: 3%;"><a href="/home" class="material-icons">home</a></li>
               <li><a href="/logout"><i class="material-icons left">trending_flat</i>Log Out</a></li> 
            </ul>
          </div>
        </nav>
      </div>
      <header class="container">
        
      </header>

      <main class="container">
        <ul class="collection">
          <% users.forEach( user => { %>
          <li style="padding-top: 2%;" class="collection-item avatar">
            <img src=<%= user.avatarUrl%> alt="Profile Image" class="circle">
            <span class="title"><%= user.name%></span>
            <p><%= new Date(user.createdAt).toLocaleDateString()%> 
            </p>
          </li>
          <% }) %>
        </ul>
      </main>
</body>
</html>